<html>
<head>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="append-me"></div>

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script id="viewTemplate" type="text/template">
	<form id="plan-form">
	<label> Please Enter Your Salary</label>
	<input class="salary" type="number" value="<%= salary %>"></input>

	<label> Please Enter Your Total Debt</label>
	<input class="totalDebt" type="number" value="<%= totalDebt %>"></input>

	<label> Calculated Monthly Paycheck</label>
	<% var paycheck = (salary / 12).toFixed(2); %>
	<p> $<%= paycheck %> </p>

	<% var months = totalDebt / ((minDebt + extraDebt) * paycheck)  %>

	<p> Based on your current income and estimated debt payments, 
	it looks as though it will take you <%= (months / 12).toFixed(0) %> years and <%= Math.ceil(months % 12) %> months (<%= Math.ceil(months) %> months) to pay off your debt.</p>




	<label> Rent (<%= (rent *100).toFixed(2) %>%) </label>
	<input class="rent" type="number" min="0"
	<% if (rent >= other){ %>
		max="<%= rent * paycheck %>"
	<% } else { %>
		max="<%= (rent + other) * paycheck %>"
	<% } %>
	step="20" value="<%= (rent * paycheck).toFixed(2) %>" />

	<label> Food (<%= (food * 100).toFixed(2) %>%) </label>
	<input class="food" type="number" step="25" value="<%= (food * paycheck).toFixed(2) %>" />
	
	<label> Fun (<%= (fun * 100).toFixed(2) %>%) </label>
	<input class="fun" type="number" value="<%= (fun * paycheck).toFixed(2) %>">
	
	<label> Transportation (<%= (transportation * 100).toFixed(2) %>%) </label>
	<input class="transportation" type="number" value="<%= (transportation * paycheck).toFixed(2) %>">
	
	<label> Savings (<%= (savings * 100).toFixed(2) %>%) </label>
	<input class="savings" type="number" value="<%= (savings * paycheck).toFixed(2) %>">

	<label> Minimum Debt (<%= (minDebt * 100).toFixed(2) %>%) </label>
	<input class="minDebt" type="number" value="<%= (minDebt * paycheck).toFixed(2) %>">
	
	<label> Extra Debt (<%= (extraDebt * 100).toFixed(2) %>%) </label>
	<input class="extraDebt" type="number" value="<%= (extraDebt * paycheck).toFixed(2) %>">


	<label> Other (<%= (other * 100).toFixed(2) %>%) </label>
	<input class="other" type="number" value="<%= (other * paycheck).toFixed(2) %>">
	</form>
	</script>
	<script>
	//set paycheck equal to 1/12 of salary
	$('.paycheck-input').val($('.salary-input').val() / 12); 

		
		var Plan = Backbone.Model.extend({
			defaults: {
				salary: 50000,
				totalDebt: 32000,  
				rent: .25,
				food: .1,
				fun: .05,
				transportation: .10,
				savings: .1, 
				minDebt: .15,
				extraDebt: .05,
				other: 0 	
				},
			initialize: function() {
				console.log("New plan initialized.");
			}
		});

	
		var PlanView = Backbone.View.extend({

			initialize: function() {
				var view = this; 
				$('body').append(this.$el); 
				this.render(); 
				this.model.on('change', function() {
					this.render(); 
				}, this);
				$('input').on("change", function() {
					console.log("Input changed to " + $(this).val());
				});
				this.setOther(); 
			},
			events: {
				"change input" : "setRent"
			},
			render: function() {
				var data = this.model.toJSON();
				var template = _.template($('#viewTemplate').text(), data);
				console.log("Render called");
				this.$el.html(template);
				//this line redelegates the events in the view's events property
				this.delegateEvents(this.events);
				return this; 
			},
			setRent: function(ev){
				var view = this; 
				console.log("calling setRent");
				var attribute = $(ev.target).attr("class");
				console.log("Class: " + attribute);
				var inputValue = parseInt($(ev.target).val()).toFixed(2);
				var amount; 
				if (attribute === "salary"){
					amount = inputValue; 
				}	
				else{
					amount = inputValue / (plan.get("salary") / 12) ;
					console.log(inputValue + "/" + plan.get);
				}
				// var amount = parseInt($(ev.target).val()).toFixed(2) / plan.get("paycheck"); 
				console.log(amount);
				plan.set(attribute, amount);
				this.setOther();
			},
			setOther: function() {
				var view = this; 
				var expenses = ["rent", "food", "fun", "transportation", "savings", "minDebt", "extraDebt"]; 
				var percentages = 0;
				$.each(expenses, function(i, expense){
					percentages += view.model.get(expense);
					console.log(expense + ":" + view.model.get(expense));
				})
				console.log("Percentages: " + percentages);
				var other = 1 - percentages; 
				console.log(other);
				console.log("Percentages + other : " + parseInt(percentages + other));
				plan.set("other", other);	
			}
		});

		var plan = new Plan(); 
		var planView = new PlanView({ model: plan }); 

	</script>
</body>
</html>