<html>
<head>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="append-me"></div>

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script id="viewTemplate" type="text/template">
	<label> Calculated Monthly Paycheck</label>
	<input type="number" class="paycheck-input"></input>


	<form id="plan-form">
	<label> Please Enter Your Salary</label>
	<input type="number" class="salary-input" value="45000"></input>
	<label> Calculated Monthly Paycheck</label>
	<input type="number" class="paycheck-input"></input>

	<label> Salary </label>
	<input type="number" value="<%= salary %>" />
	
	<label> Rent </label>
	<input class="rent" type="number" value="<%= rent %>" />

	<label> Food </label>
	<input type="number" value="food" />
	
	<label> Debt </label>
	<input type="number" value="debt">
	
	<label> Other </label>
	<input type="number" value="other">
	</form>
	</script>
	<script>
	//set paycheck equal to 1/12 of salary
	$('.paycheck-input').val($('.salary-input').val() / 12); 

		
		var Plan = Backbone.Model.extend({
			defaults: {
				salary: 50000,  
				rent: .25,
				food: .25,
				debt: .25,
				other: .25 	
				},
			initialize: function() {
				console.log("New plan initialized.");
			}
		});

	
		var PlanView = Backbone.View.extend({

			initialize: function() {
				var view = this; 
				$('body').append(this.$el); 
				this.render(); 
				this.model.on('change', function() {
					this.render(); 
				}, this);
				$('input').on("change", function() {
					console.log("Input changed to " + $(this).val());
				});
			},
			events: {
				"change input" : "setRent"
			},
			render: function() {
				var data = this.model.toJSON();
				var template = _.template($('#viewTemplate').text(), data);
				console.log("Render called");
				this.$el.html(template);
				this.delegateEvents(this.events);
				return this; 
			},
			setRent: function(ev){
				console.log("calling setRent");
				var amount = $(ev.target).val(); 
				plan.set("rent", amount);
			}
		});

		var plan = new Plan(); 
		var planView = new PlanView({ model: plan }); 

	</script>
</body>
</html>