<html>
<head>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="append-me"></div>

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script id="viewTemplate" type="text/template">
	<form id="plan-form">
	<label> Please Enter Your Salary</label>
	<input class="salary" type="number" value="<%= salary %>"></input>
	<label> Calculated Monthly Paycheck</label>
	<input class="paycheck" type="number" value="<%= paycheck %>"></input>


	<label> Rent (<%= rent *100 %>%) </label>
	<input class="rent" type="number" value="<%= rent * paycheck %>" />

	<label> Food (<%= food * 100 %>%) </label>
	<input class="food" type="number" value="<%= food * paycheck %>" />
	
	<label> Debt (<%= debt * 100 %>%) </label>
	<input class="debt" type="number" value="<%= debt * paycheck %>">
	
	<label> Other (<%= other * 100 %>%) </label>
	<input class="other" type="number" value="<%= other * paycheck %>">
	</form>
	</script>
	<script>
	//set paycheck equal to 1/12 of salary
	$('.paycheck-input').val($('.salary-input').val() / 12); 

		
		var Plan = Backbone.Model.extend({
			defaults: {
				salary: 50000,
				paycheck: 4167,  
				rent: .25,
				food: .25,
				debt: .25,
				other: .25 	
				},
			initialize: function() {
				console.log("New plan initialized.");
			}
		});

	
		var PlanView = Backbone.View.extend({

			initialize: function() {
				var view = this; 
				$('body').append(this.$el); 
				this.render(); 
				this.model.on('change', function() {
					this.render(); 
				}, this);
				$('input').on("change", function() {
					console.log("Input changed to " + $(this).val());
				});
			},
			events: {
				"change input" : "setRent"
			},
			render: function() {
				var data = this.model.toJSON();
				var template = _.template($('#viewTemplate').text(), data);
				console.log("Render called");
				this.$el.html(template);
				//this line redelegates the events in the view's events property
				this.delegateEvents(this.events);
				return this; 
			},
			setRent: function(ev){
				console.log("calling setRent");
				var attribute = $(ev.target).attr("class");
				console.log("Class: " + attribute);
				var amount = parseInt($(ev.target).val()).toFixed(2) / plan.get("salary"); 
				console.log(amount);
				plan.set(attribute, amount);
			}
		});

		var plan = new Plan(); 
		var planView = new PlanView({ model: plan }); 

	</script>
</body>
</html>